{% extends 'base.html' %}
{% load static %}

{% block content %}
      <br>
      <section id="im" class="col-xl-12 col-12">
        <img src="{% static 'imagenes/servicios.png' %}" alt="placeholder" class="col-12"/>
      </section>
      <br>
      <aside id="menu-ser" class="col-xl-12 col-12">
        <div class="row">
          <div class="column col-xl-3 col-12">
            <div id="vertical-menu" class="col-xl-12 col-12">
              <a onclick="cyberBoton()" href="1" id="active">Análisis Cyberseguridad</a>
              <a onclick="ISOBoton()" href="2" id="inactive">Consultoria ISO 27001</a>
              <a onclick="ethBoton()" href="3" id="inactive">Ethical Hacking</a>
              <a onclick="codeBoton()" href="4" id="inactive">Análisis de Código</a>
            </div>
            
          </div>
          <div class="column col-xl-3 col-12">
            <div id="imagen-ser" class="col-xl-12 col-12">
            </div>
          </div>
          {% for ser in servicios %}
          <div class="column col-xl-6 col-12">
            <div id="txt-ser" class="col-xl-12 col-12">
              <h2>{{ ser.nombre }}</h2>
              <p>{{ ser.descripcion }}</p>
            </div>
          </div>
          {% endfor %}

        </div>
      </aside>

      <section id="bene-titulo" class="col-xl-12 col-12">
        <h1>
          Beneficios
        </h1>
      </section>
      
      <section id="beneficios-prod" class="col-xl-12 col-sm-12 col-12">
        <div class="row">
          {% for ben in beneficios %}
          <div id="bene1" class="col-xl-4 col-6">
            <p>{{ben.descripcion }}</p>
          </div>
          {% endfor %}
          <!--<div id="bene2" class="col-xl-3 col-6">
            <p>{{ beneficios.descripcion }}</p>
          </div>
          <div id="bene3" class="col-xl-3 col-6">
            <p>{{ beneficios.descripcion }}</p>
          </div>
          <div id="bene4" class="col-xl-3 col-6">
            <p>{{ beneficios.descripcion }}</p>
          </div>-->
          <br>
        </div>
      </section>

{% endblock %} 
{% block script %}
<script src="{% static 'js/cargarxml.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}